<%- include("partials/header"); -%>
    <h1>Contact</h1>
    <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email" placeholder="name@example.com">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
        <label for="textarea" class="form-label">Suggestions</label>
        <textarea class="form-control" id="textarea" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
<%- include("partials/footer"); -%>
