html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #c4f5ff;
}
.home{
    max-width: 100%;
}
.intro{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: fixed;
    right:35%;
    margin-top: 10%;
}
.obj{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    position: absolute;
    top:40%;
    left:35%;
}
.container{
    margin: 1%;
    padding: 2%;
    width: 100%;
    border: 2px solid black;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    background-color: yellowgreen;
}
.con{
    background-color: rgb(156, 54, 54);
    color: whitesmoke;
    border: 2px solid black;
    border-radius: 7px;
    padding: 1%;
    margin-top: 1%;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}
.con:hover{
    background-color: black;
    cursor: pointer;
}
.Celsius{
    display: none;
    background-color: #081b29;
    color: white;
}
.intro2{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    left: 41%;
    margin-top: 10%;
}
.intro1{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    left: 38%;
    margin-top: 10%;
}
.result{
    border: 2px solid black;
    padding: 5%;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    background-color: #081b29;
    color: wheat;
}
.farh{
    display: none;
    background-color: #081b29;
    color: white;
}
.but{
    background-color: rgb(156, 54, 54);
    color: whitesmoke;
    border: 2px solid black;
    border-radius: 7px;
    padding: 1%;
    margin-top: 1%;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}
.but:hover{
    background-color: black;
    cursor: pointer;
}
.but1{
    background-color: rgb(156, 54, 54);
    color: whitesmoke;
    border: 2px solid black;
    border-radius: 7px;
    padding: 1%;
    margin-top: 1%;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}
.but1:hover{
    background-color: black;
    cursor: pointer;
}
.obj1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    text-align: center;
    position: absolute;
    top:40%;
    left:38%;
}
.but2{
    background-color: rgb(156, 54, 54);
    color: whitesmoke;
    border: 2px solid black;
    border-radius: 7px;
    padding: 1%;
    margin-top: 1%;
    -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}
.but2:hover{
    background-color: black;
    cursor: pointer;
}
