@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Dancing+Script&family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: #17a2b8;
}

#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 25px;
  width: 620px;
  border-radius: 7px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#type-text {
  position: relative;
  padding: 10px;
  border: 1px solid #ccc;
  max-height: 255px;
  overflow-y: scroll;
}

#type-text::-webkit-scrollbar {
  width: 0;
}

#type-text p {
  font-size: 16px;
  letter-spacing: 1px;
  text-align: justify;
  word-break: break-all;
  font-weight: bold;
  user-select: none;
}

#type-text p span.active {
  position: relative;
  color: #17a2b8;
}

#type-text p span.active::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background: #17a2b8;
  animation: blink 0.5s ease-in-out infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

#type-text p span.correct {
  color: #56964f;
}

#type-text p span.incorrect {
  color: #cb3439;
  background-color: #ffc0cb;
  outline: 1px solid #fff;
  border-radius: 4px;
}

#features {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  border: 1px solid #ccc;
}

ul {
  display: flex;
  width: calc(100% - 120px);
  justify-content: space-between;
}

ul li {
  list-style-type: none;
  display: flex;
  padding: 10px 0;
  padding-left: 8px;
}

li p {
  font-size: 18px;
  font-weight: bold;
}

li:not(:first-child) {
  border-left: 1px solid #ccc;
}

li span {
  display: block;
  font-size: 18px;
  margin-left: 10px;
}

button {
  position: relative;
  padding: 15px;
  border: none;
  outline: none;
  background-color: #17a2b8;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

#input-field{
  z-index: -999;
  opacity: 0;
  position: absolute;
}